html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
details,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

img {
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
  display: block;
}

*:focus {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

button
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  /* Firefox >= 3.6, any other modern browser */
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff");
  /* Firefox >= 3.6, any other modern browser */
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.container--wide {
  max-width: 550px;
}

.lock {
  overflow: auto;
}

body {
  font-family: "Gilroy-Medium";
}

.text--14px {
  font-size: 14px;
  color: #828282;
  line-height: 18px;
}

.text--16px {
  font-size: 16px;
  color: #828282;
  line-height: 20px;
}

.text--18px {
  font-size: 18px;
  color: #828282;
  line-height: 22px;
}

.title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  text-align: center;
  color: #070707;
}

.language--in-main,
.language--nav--in-main {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: -25px;
}

.language input,
.language--nav input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.language label a,
.language--nav label a {
  font-family: "Gilroy-Bold";
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.language label a:hover,
.language--nav label a:hover {
  color: #070707;
}

.language__input-ru:checked + label,
.language--nav__input-ru:checked + label {
  color: #070707;
}

.language__input-eng:checked + label,
.language--nav__input-eng:checked + label {
  color: #070707;
}

.language__stick,
.language--nav__stick {
  font-size: 22px;
}

.stars__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stars__item {
  font-size: 18px;
  color: #070707;
}

.stars__item--grey {
  color: #E5E5E5;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}

.header .header::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #828282;
  z-index: 3;
}

.header__inner {
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #828282;
}

.header__burger {
  display: none;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav__item:last-child {
  display: none;
}

.header .nav__item a {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header .nav__item a:hover {
  color: #070707;
  font-family: "Gilroy-Bold";
}

.main {
  padding: 115px 0;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main__title {
  font-family: "Gilroy-Bold";
  font-size: 48px;
  line-height: 60px;
  color: #070707;
}

.main__description {
  color: #070707;
}

.main__img {
  height: 400px;
  background-image: url("../img/main/IMG_20200413_150413.jpg");
  background-size: cover;
  background-position: 0 -80px;
  background-repeat: no-repeat;
}

.about {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.about__title {
  margin-bottom: 30px;
}

.about__info {
  text-align: center;
}

.about__text {
  margin-bottom: 30px;
  color: #070707;
}

.skills {
  padding: 100px 0;
}

.skills__title {
  margin-bottom: 70px;
}

.skills__subtitle {
  margin-bottom: 80px;
  color: #070707;
  text-align: center;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0 auto;
}

.skills__item {
  height: 200px;
  min-width: 210px;
  padding: 0 35px 35px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__item:last-child {
  padding: 0 35px 0;
}

.skills__item-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.skills__img {
  height: 80px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 25px;
}

.portfolio {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__block {
  padding-bottom: 100px;
}

.portfolio__block:last-child {
  margin-bottom: 0;
}

.portfolio__block img {
  margin-bottom: 40px;
}

.portfolio__block .portfolio__link {
  text-align: center;
}

.portfolio__block .portfolio__link a {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.portfolio__block .portfolio__link a:hover {
  color: #070707;
  text-decoration: underline;
}

.contacts {
  padding: 100px 0;
  text-align: center;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__subtitle {
  color: #070707;
  margin-bottom: 30px;
}

.contacts__button {
  padding: 10px 30px;
  border-radius: 100px;
  background-color: #070707;
  color: #fff;
  margin-bottom: 80px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.contacts__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 8px #212121;
          box-shadow: 0px 0px 8px #212121;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
}

.contacts__link img {
  width: 40px;
  height: 40px;
  margin: 20px auto;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

@media (min-width: 767px) {
  .contacts__link img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 1000px) {
  .header__inner {
    height: calc(60px + (80 - 60) * (100vw - 320px) / (1000 - 320));
  }

  .main__img {
    height: calc(480px + (400 - 480) * (100vw - 320px) / (1000 - 320));
    background-position: 60% calc(-80 * (100vw - 320px) / (1000 - 320));
  }

  .about {
    padding: calc(50px + (50) * (100vw - 320px) / (680)) 0;
  }

  .skills {
    padding: calc(50px + (50) * (100vw - 320px) / (680)) 0;
  }

  .portfolio {
    padding: calc(50px + (50) * (100vw - 320px) / (680)) 0;
  }

  .contacts {
    padding: calc(50px + (50) * (100vw - 320px) / (680)) 0;
  }

  .contacts__button {
    margin-bottom: calc(30px + (80 - 30) * (100vw - 320px) / (1200 - 320));
  }
}

@media (max-width: 767px) {
  .lock {
    overflow: hidden;
  }

  .language__stick,
  .language--nav__stick {
    font-size: 40px;
  }

  .language .language,
  .language--nav .language {
    display: none;
  }

  .language .language--nav,
  .language--nav .language--nav {
    display: block;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-left: calc(100% - 30px);
  }

  .header__burger span {
    position: absolute;
    background-color: #070707;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
  }

  .header__burger .stick-1 {
    top: 0;
  }

  .header__burger .stick-2 {
    top: 8px;
  }

  .header__burger .stick-3 {
    top: 16px;
  }

  .header__burger.active .stick-1 {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    top: 9px;
  }

  .header__burger.active .stick-2 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active .stick-3 {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 9px;
  }

  .header .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 90px;
    -webkit-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
    overflow: auto;
  }

  .header .nav.active {
    top: 0;
  }

  .header .nav__list {
    display: block;
    margin-left: 30px;
  }

  .header .nav__item {
    margin-bottom: 40px;
  }

  .header .nav__item:last-child {
    display: block;
  }

  .header .nav__item a {
    font-size: 30px;
    font-family: "Gilroy-Bold";
  }
}

@media (max-width: 540px) {
  .header {
    padding: 0 30px;
    width: 66px;
    margin-left: 80%;
    margin-top: 5px;
    border-radius: 50%;
    background-color: #F6F6F6;
  }

  .header .header__burger {
    left: -12px;
    top: 2px;
  }

  .header__inner {
    border: none;
  }

  .header__burger {
    top: 10px;
  }

  .main {
    padding: 70px 0;
  }

  .main__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__title {
    margin-bottom: 20px;
  }
}

.webp .main__img { background-image: url(../img/main/IMG_20200413_150413.webp); }